*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
cfg/
!cfg/yolov3.cfg
!cfg/coco.data
!data/labels/*
!data/coco.names
submission/
darknet
.fuse*

.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

weights

libdarknet.*
